.table-content input {
    width: 257px;
    height: 25px;
    border: 1px solid #ccc6c6;
    outline: none;
    margin-left: 10px;
    position: relative;
}
/*
    Css này dùng để: khi người dùng k nhập các trường dữ liệu bắt buộc 
    như CustomerName hoặc CustomerCode hoặc CustomerPhoneNumber, thì border của ô text sẽ chuyển màu cảnh báo
*/
.require-error {
    border: 1px solid #ff0000 !important;
}

.loading{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#000000;
    opacity:.4;
}

.loading-box{
    display:none;
}

.loading-icon {
    width: 30px;
    height: 30px;
    border-radius: 40%;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
